html {
  line-height: $mainLineHeight;
  font-size: calc(1em + 1vw);

}

.html__bg {
  // height: 100%;
  background-image: linear-gradient(to bottom, #e2a636, #f28640, #f66457, #ed4773, #d33992);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // overflow: hidden;
}


a {
  text-decoration: none;
}



a:hover,
a:active {
  text-decoration: underline;
  opacity: 0.8;
}


img {
  max-width: 100%;
  height: auto;
}


@media (max-width: $desktopXl) {
  html {
    font-size: calc(0.9em + 0.9vw);
    // background-image: none;
  }
}

@media (max-width: $desktopWidth) {
  html {
    font-size: calc(0.9em + 0.9vw);
    background-image: none;
  }
}

@media (max-width: $tableWidth) {
  html {
    font-size: calc(0.8em + 0.8vw);
  }
}

@media (max-width: $phoneWidth) {
  html {
    font-size: calc(0.7em + 0.7vw);
  }
}